@import '../../assets/stylesheets/colors';

header {
  padding: 1em;
}

footer {
  padding: 1em;
  background-color: $blue1;
  color: $white;
}

.default-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 5% auto;
  grid-template-areas: 
    "searchbar"
    "movie-table";
}

.expanded-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 30% auto;
  grid-template-rows: 5% auto;
  grid-template-areas: 
    "searchbar searchbar"
    "detail-pane movie-table";
}