@import '../../../assets/stylesheets/colors';

.container-movie-table {
  grid-area: movie-table;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  background-color: $white;
}

.movie-table {
  display: table;
  border-collapse: collapse;
  position: relative;
}

.movie-table-header {
  display: table-row;
  font-size: 1.2em;
  position: sticky;
}

.button-show-more-movies {
  background-color: $green;
  color: $white;
  padding: 0.5em 0;
  width: 10em;
  font-size: 1.5em;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
}