@import '../../../assets/stylesheets/colors';

.search {
  grid-area: searchbar;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.search-input {
  width: 20em;
  height: 1.75em;
  font-size: 1em;
  margin: 0 0.25em;
  border: 1px solid $gray3;
  border-radius: 5px;
}

.search-button {
  border: none;
  border-radius: 5px;
  margin: 0 0.25em;
  padding: 0 1em;
  font-size: 1em;
  height: 1.75em;
  background-color: $green;
  color: $white;
}