@import '../../assets/stylesheets/colors';

.detail-pane {
  background-color: $blue2;
  grid-area: detail-pane;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  color: $gray4;
}

.button-close-pane {
  position: relative;
  width: 2em;
  left: 93%;
  bottom: 1%;
  font-size: 1em;
  border: none;
  border-radius: 3px;
  background-color: $gray4;
  color: $gray1;
}