@import '../../assets/stylesheets/colors.scss';

.table-row {
  display: table-row;
  color: $gray2;
}

.table-row:hover {
  cursor: pointer;
  border-left: 1px solid $gray3;
  box-shadow: 3px 3px 3px $gray3;
}